/* App.css */

/* Estilos para el contenedor principal */
.App {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center;
    overflow: hidden; /* Evitar que el contenido desborde */
  }
  
  /* Estilos para el tablero */
  .tablero {
    margin-top: 25vh; /* Agregar espacio entre el título y los cuadrados rojos */
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-auto-rows: repeat(5, 50px);
    gap: 2px;
    justify-content: center; /* Centrar horizontalmente los elementos */
    align-content: center; /* Centrar verticalmente los elementos */
  }
  
  /* Estilos para los cuadrados rojos */
  .pato {
    background-color: red;
    width: 50px;
    height: 50px;
  }
  